.aui .right {
    text-align: right; 
    white-space: nowrap;
}
.aui .container-fluid {
    padding-right: 0; 
    padding-left: 0;
}
.aui .accordion-inner {
    padding: 0;
}
.aui .table {
    margin-bottom: 0;
}
.aui .table td {
    border-top: 0;
}

.chart-thumbs img {
    padding: 2px 0;
    width: 100%;
}
#chart-img img {
    width: 100%;
}
